:root {
  --color-dark: #fffef4;
  --color-light: #a67854;
  --color-transition:  transition: color 0.5s ease-in-out;
  --bg-color-transition:  transition: background-colo 0.5s ease-in-out;


}

@font-face {
  font-family: 'Graveyard';
  src: url(/fonts/444Graveyard-Regular-serif.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: .8vw;
  overflow: hidden;
  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#page {
  overflow: hidden;
}

body {
  font-family: 'Graveyard';
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  color: var(--color-light);
}

::-webkit-scrollbar {
  display: none !important;
}
 
#welcomevid {
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0%;
}


/* STYLES DE PARAGRAPHES */

.lig{
  letter-spacing: 0;
  font-variant-ligatures: additional-ligatures;
}

.font-xxs {
  font-size: .75rem;
  line-height: .955rem;
}

.font-controls{
  font-size: 1.5rem;
   line-height: 1.8rem;
}

.font-nav {
  font-size: 1rem;
  line-height: 1.3rem;
}

.font-xs {
  font-size: 2rem;
  line-height: 2.55rem;
  letter-spacing: .045rem;
}

.font-s {
  font-size: 4.2rem;
  line-height: 5.2rem;
}

.font-m {
  font-size: 6rem;
  line-height: 7.5rem;
  font-variant-ligatures: common-ligatures !important;
}

.font-setup {
  font-size: 6rem;
  line-height: 8rem;
  text-align: center;
  font-variant-ligatures: common-ligatures !important;
}

.font-ml {
  font-size: 9rem;
  line-height: 11rem;
  font-variant-ligatures: common-ligatures !important;
}

.font-l {
  font-size: 13.5rem;
  line-height: 15.8rem;
  letter-spacing: -.1rem;
  font-variant-ligatures: common-ligatures !important;
}

.font-lxl {
  font-size: 18rem;
  line-height: 20rem;
  letter-spacing: -.1rem;
  font-variant-ligatures: common-ligatures !important;
}

.font-xl {
  font-size: 24rem;
  line-height: 30rem;
  /* letter-spacing: -.15rem; */

  font-variant-ligatures: common-ligatures !important;
}

.font-2xl {
  font-size: 48rem;
  line-height: 60rem;
  letter-spacing: -.2rem;
}

.font-3xl {
  font-size: 62rem;
  line-height: 65rem;
  letter-spacing: -.2rem;
}

.left-align{
  text-align: left !important;
}

.center-align{
  text-align: center !important;
}

.caps{
  text-transform: uppercase;
}


/* BUTTONS */

#colorSwitchButton{
  left: 1.5rem;
  z-index: 2001;
}

.pagebutton{
  position: absolute;
  top: 45%;
  transform: translate(-0%,-50%);
  width: 3.5vh;
  cursor: pointer;
  fill: var(--color-light);
  transition: fill 1s ease-in-out;
}

#panelButton{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translate(-0%,-50%);
}

#panelButtonminus{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translate(-0%,-50%);
  fill: var(--color-dark);
  display: none;
}

/* SPECIMEN */


#specimen {
  color: var(--color-dark);
  background-color: var(--color-light);

  transition: opacity 2s ease-in-out;
  margin-top: 8vh;
  padding: 3vh;
  position: relative;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: none;
  z-index: 1100;
  gap: 3rem;
  /* A RETABLIR */
  pointer-events: none;
  left: 100%;
  scroll-snap-type: y mandatory;

  transition: left 1s ease-in-out,  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* STYLES D'OBJETS */

.panelcontain {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: none;
  width: 100%;
  gap: 2.5rem;
  margin-top: 2rem;
  scroll-snap-align: start;
}

.colonnescontain {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: none;
  width: 100%;
  gap: 2.5rem;
}

.panelcontaincol {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: none;
  width: 100%;
  scroll-snap-align: start;
}

.colonne{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-right: 1.5rem;
}

.wide{
  vertical-align: bottom;
  width: 100%;
}

#margefont-s{
  padding-top: 0.7rem;
}

#margefont-xxs{
  padding-top: 0.75rem;
}

#margefont-m{
  padding-top: 1.1rem;
}

#margefont-2xl{
  line-height: 41rem;
}

#margefleche{
  line-height: 49rem;
}

.un-demi{
  width: 50%;
}

.un-quart{
  width: 25%;
  text-align: left;
}

.trois-quart{
  width: 75%;
  text-align: left;
}


.un-tiers{
  width: 33.333333%;
}

.deux-tiers{
  width: 66.666666%;
}


/* FILETS */
                        
.box-label{
  position: relative;
  margin-top: 2vh;
  margin-bottom: 0.6rem;
  width: 100%;
  left: 0%;
  text-align: left;
  text-overflow: ellipsis;

  -webkit-user-drag: none;
  color: var(--color-dark);
  letter-spacing: .04em;
  padding: 0.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;

  /* border-bottom: var(--color-dark); */
  padding-top: .25rem;
  border-top: solid .12rem var(--color-dark);
}


/* PANELS */

#panelcontain1{
  position: relative;
  top: -2rem;
  text-align: center;
  line-height: 20rem;
  padding-bottom: 4rem;
  padding-top: 4rem;

  left: 50%;
  transform: translate(-50%, 0%);
}

#typedtitle{
  line-height: 20rem;
    height: 40rem;
    width: 100%;
}

.typed-cursor{
  display: none;
}


#contain1 {
  position: relative;
  top: 7rem;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--color-dark);
}



#colonne2{
  width: 25%;
}

.size-m{
  padding-top: .4rem;
}


#contain2 {
  position: relative;
  padding-top: 1.5vh;
}

#colonne4{
  width: 100%;
}

.colonne4{
  line-height: 17rem;
  text-align: center;
}

#txtcontain2{
  margin-bottom: -50rem;
  line-height: 65rem;
}

li {
  list-style-type: "";
}

h1 {
  line-height: 17rem;
}

h2 {
  padding-left: 5vw;
  padding-right: 5vw;
}

/* HOME */

#home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  height: 100vh;
  opacity: 1;
  overflow: hidden;

  /* A COMMENTER */
  /* left: 200%; */

  transition: opacity 2s ease-in-out;
} 


#start{
  position: absolute;
  top: 2.5rem;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 2501;
}

#showroomcontainer{
  pointer-events: all;
  z-index: 2500;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  overflow: hidden;
}

#showroomimg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}


/*Container with zero padding */
#header {
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 6rem;

  z-index: 1200;
  overflow: hidden;
  text-align:center;
  transition: height 1s ease-in-out, top 1s ease-in-out,  background-color 1s ease-in-out, color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}


.logo{
  font-size: 3rem;
  position: relative;
  top: 50%;
  transform: translate(-0%,-50%);
  
  transition: font-size 0.5s ease-in-out;
}

#header-logo {
  left: 50%;
  top:0;
  transform: translateX(-50%);
  width: fit-content;
  cursor: pointer;
  transform: translate(-50%, -0.2rem);

  transition: opacity 1s ease-in-out;
}

/* BODY */

main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-txt {
  position: relative;
  transform: translatey(-0.5rem);
  text-align: center;
}


#section2 {
  text-align: center;
}

#section4 {
  position: absolute;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}


.fullscreen {
  width: calc(33% - 2rem) !important;
  height: calc(100% - 2rem) !important;
}

.inside-controls {
  opacity: 1000%;
  transition: opacity 0.3s ease-in-out 0.3s, width 0.3s ease-in-out, height 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: space-between;

}

.control-box {
  scroll-snap-align: start;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  text-align: center;
  padding: .5rem;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(0, -1.5rem);
  overflow: hidden;
}

.split-screen {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.split-left {
  width: 50%;
  position: relative;
  left: 0%;
  box-sizing: border-box;
  height: 100%;
  overflow-x: scroll;
  background-color: var(--color-light);
  color: var(--color-dark);
  scroll-snap-type: x mandatory;
  padding-top: 8vh;


  display: flex;
  flex-direction: row;
  /* width: 500%; */
  overflow: hidden;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, left 2s ease-in-out;
}

.split-right {
  position: relative;
  width: 50%;
  height: 100vh;
  right: 0%;

  transition: right 2s ease-in-out;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-dark);
  opacity: 1; /* Firefox */
}

#color{
  display: none;
}

input {
  position: relative;
  width: 100%;
  font-family: 'Graveyard';
  text-align: center;
  border: .3rem solid var(--color-dark);
  border-radius: 1rem;
  margin: 0.5rem;
  width: 78%;
  box-sizing: border-box;
  color: var(--color-dark) !important;
  background: transparent;
}


input[type="text"]:focus {
  outline: none;
}


input[type="radio"] {
  outline: none;
  display: none;
}

input[type="date"]:focus {
  outline: none;
  color: var(--color-dark);
}

input[type="radio"]:checked+label {
  outline: none;
  background-color: var(--color-dark);
  color: var(--color-light);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.control-label {
  height: fit-content;
  font-size: 3rem;
  position: relative;
  top: 0%;
  height: 8rem;
  display: flex;
  align-items: center;
}

.controls {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  top: 8vh;
  bottom: 0%;
  align-items: center;
  z-index: 1050;
  width: 50%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  color: var(--color-dark);

  transition: right 2s ease-in-out;
}

.navtop{
  position: absolute;
  top: 1rem;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

#navbottom{
    position: absolute;
    bottom: 1rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.containerarrow{
  position: absolute;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  }

  #prev{
    left: 0%;
    display: none;
  }

  #next{
    right: 0%;
  }

.arrow {
  cursor: pointer;
  box-sizing: border-box;
  /* width: 80%; */
  text-align: center;
  padding: .3rem;
  padding-inline: .5rem;
  border-radius: 1rem;
  /* border-radius: .5rem; */
  top: 50%;
  transform: translate(0, -2.8rem);
}

#prev:hover > #arrow-prev {
  background-color: var(--color-dark);
  color: var(--color-light);
}


#next:hover > #arrow-next {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.arrow-prev {
  position: absolute;
  text-align: left;
  pointer-events: all;
  left: 1rem;
}

.arrow-next {
  position: absolute;
  right: 1rem;
  text-align: right;
  pointer-events: all;
}

#containerboutnext{
  height: 100%;
  position: relative;
  width: 10%;
  top: 0%;
}

label {
  position: relative;
  font-family: 'Graveyard';
  color: var(--color-dark);
  text-align: center;
  box-sizing: border-box;
  width: 78%;
  text-align: center;
  border: .3rem solid var(--color-dark);
  border-radius: 1rem;

  background: transparent;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: block;
  margin: 0.5rem;

    color: var(--color-dark);
}

label:hover{
  background-color: var(--color-dark);
  color: var(--color-light);
}


.yearstxt {
  margin: 0.5vh;
}

#submit {
  scroll-snap-align: start;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  text-align: center;
  padding: .5rem;
  width: 100%;
}

#border:hover{
  background-color: var(--color-dark);
  color: var(--color-light) !important;
}

#border{
  position: relative;
  font-family: 'Graveyard';
  text-align: center;
  border: .3rem solid var(--color-dark);
  border-radius: 1rem;
  margin: 0.5rem;
  width: 78%;
  box-sizing: border-box;
  color: var(--color-dark) !important;
  background: transparent;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

.custom-bg {
  background-image: url("/imgs/backgrounds/bg1.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sectionfinal {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: -2008;
}

input[type=color] {
  position: absolute;
  bottom: 0;
  top: 100%;
}

#resetCameraButton {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coemetersong{
  transform: translateY(.5rem);
}

.bottom-container{
  display: flex;
}

#navfin{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: none;
  width: 100%;
  scroll-snap-align: start;
}