:root {
  --color-dark: #fffef4;
  --color-light: #a67854;
  --color-transition:  transition: color 0.5s ease-in-out;
  --bg-color-transition:  transition: background-colo 0.5s ease-in-out;


}

@font-face {
  font-family: 'Graveyard';
  src: url(/fonts/444Graveyard-Regular-serif.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 0.8vw;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /* font-variant-ligatures: common-ligatures; */
}

#page {
  overflow: hidden;
}

body {
  font-family: 'Graveyard';
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  color: var(--color-light);
  /* display: none; */
}

::-webkit-scrollbar {
  display: none !important;
}
/* 
#welcomevid {
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0%;
} */


/* STYLES DE PARAGRAPHES */

.lig{
  letter-spacing: 0;
}

.font-nav {
  font-size: 1rem;
  line-height: 1.3rem;
}

.font-xs {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.font-s {
  font-size: 3rem;
  line-height: 3rem;
}

.font-m {
  font-size: 4.5rem;
  line-height: 5.7rem;
  text-align: center;
  font-variant-ligatures: common-ligatures !important;
}

.font-l {
  font-size: 6rem;
  line-height: 6.666666rem;
  text-align: center;
  font-variant-ligatures: common-ligatures !important;
}

.font-setup {
  font-size: 6rem;
  line-height: 8rem;
  text-align: center;
  font-variant-ligatures: common-ligatures !important;
}


.font-xl {
  font-size: 9rem;
  line-height: 10rem;
  letter-spacing: -.1rem;
  font-variant-ligatures: common-ligatures !important;
}

.font-2xl {
  font-size: 13.5rem;
  line-height: 15rem;
  letter-spacing: -.15rem;

  font-variant-ligatures: common-ligatures !important;
}

.font-3xl {
  font-size: 18rem;
  line-height: 22rem;
  letter-spacing: -.2rem;

  /* letter-spacing: -4rem; */
}

.font-4xl {
  font-size: 22rem;
  line-height: 25rem;
  /* letter-spacing: -4rem; */
}

.font-5xl {
  font-size: 44rem;
  line-height: 50rem;
  /* letter-spacing: -4rem; */
}

/* BUTTONS */

#colorSwitchButton{
  left: 1.5rem;
  z-index: 2001;
}

.pagebutton{
  position: absolute;
  top: 45%;
  transform: translate(-0%,-50%);
  width: 3.5vh;
  cursor: pointer;
  fill: var(--color-light);
  transition: fill 0.5s ease-in-out;
}

#panelButton{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translate(-0%,-50%);
}

#panelButtonminus{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translate(-0%,-50%);
  display: none;
}

/* SPECIMEN */


#specimen {
  color: var(--color-dark);
  background-color: var(--color-light);

  transition: opacity 2s ease-in-out;
  margin-top: 8vh;
  padding: 3vh;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: none;
  z-index: 1100;
  /* A RETABLIR */
  pointer-events: none;
  left: 100%;

  transition: left 1s ease-in-out,  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#panelcontain {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
  flex-direction: row;
  overflow: none;
  width: 100%;
}

.colonne{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-right: 1.5rem;
}

#txtcontain{
  vertical-align: bottom;
  width: 100%;
}


/* FILETS */
                        
.box-label{
  position: relative;
  margin-top: 2vh;
  width: 100%;
  left: 0%;
  text-align: left;
  text-overflow: ellipsis;

  -webkit-user-drag: none;
  color: var(--color-dark);
  letter-spacing: .04em;
  padding: 0.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;

  /* border-bottom: var(--color-dark); */
  padding-top: .25rem;
  border-top: solid .12rem var(--color-dark);
}

/* PANEL 1 */

.panelcontain1{
  position: relative;
  top: -2rem;
  text-align: center;
  line-height: 20rem;
  padding-bottom: 6rem;
  padding-top: 4rem;
}

#typedtitle{
  line-height: 20rem;
  height: 40rem;
  width: 100%;
}

.typed-cursor{
  display: none;
}



#contain1 {
  position: relative;
  top: 7rem;
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--color-dark);
}

/* PANEL 2 */

#txtcontain2{
  text-align: left;
  width: 100%;
}

#txtcontain3{
  text-align: left;
  width: 100%;
}

#colonne1{
  width: 75%;
  text-align: left;
}

#colonne2{
  width: 25%;
}

.size-m{
  padding-top: 1rem;
  vertical-align: bottom;
}

/* PANEL 3 */

#colonne3{
  width: 50%;
}

#contain2 {
  position: relative;
  padding-right: 1.5vw;
  padding-top: 1.3vh;
  width: 100%;
  /* top: 7rem; */
}

/* PANEL 4 */

#colonne4{
  width: 100%;
}

.colonne4{
  line-height: 17rem;
  text-align: center;
}


li {
  list-style-type: "";
}

h1 {
  line-height: 17rem;
}

h2 {
  padding-left: 5vw;
  padding-right: 5vw;
}

/* HOME */

#home {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  /* A ENLEVER */
  /* left: 100%; */

  opacity: 1;
  transition: opacity 2s ease-in-out;
  overflow: hidden;
} 

#home video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  height: auto;
}

/*Container with zero padding */
#header {
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-dark);

  color: var(--color-light);
  z-index: 1200;
  overflow: hidden;
  text-align:center;
  transition: height 1s ease-in-out, top 1s ease-in-out,  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: background-color 2s ease-in-out, color .5s ease-in-out;
}


.logo{
  /* font-size: 15rem; */
  font-size: 3rem;

  position: relative;
  top: 50%;
  transform: translate(-0%,-50%);
  
  transition: font-size 0.5s ease-in-out;
}

#header-logo {
  left: 50%;
  top:0;
  transform: translateX(-50%);
  width: fit-content;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in-out;

}

/* BODY */

main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid var(--color-dark); */
}

.section-txt {
  position: relative;
  /* top: -9%; */
  text-align: center;
  /* color: var(--color-dark); */
}


#section2 {
  text-align: center;
}


#section3 {
  padding-bottom: 10vh;
}

.section4 {
  height: 100vh;
  overflow: hidden;
}

#section6 {
  position: absolute;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}


.fullscreen {
  width: calc(33% - 2rem) !important;
  height: calc(100% - 2rem) !important;
}

.inside-controls {
  opacity: 1000%;
  transition: opacity 0.3s ease-in-out 0.3s, width 0.3s ease-in-out, height 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: space-between;

}

.control-box {
  scroll-snap-align: start;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  text-align: center;
  padding: .5rem;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(0, -1.5rem);
  overflow: hidden;
}

.split-screen {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.split-left {
  width: 50%;
  position: relative;
  left: 0%;
  box-sizing: border-box;
  height: 100%;
  overflow-x: scroll;
  background-color: var(--color-light);
  color: var(--color-dark);
  scroll-snap-type: x mandatory;
  padding-top: 8vh;


  display: flex;
  flex-direction: row;
  /* width: 500%; */
  overflow: hidden;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, left 2s ease-in-out;
}

.split-right {
  position: relative;
  width: 50%;
  height: 100vh;
  right: 0%;

  transition: right 2s ease-in-out;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-dark);
  opacity: 1; /* Firefox */
}

#color{
  display: none;
}

input {
  position: relative;
  width: 100%;
  font-family: 'Graveyard';
  text-align: center;
  border: .3rem solid var(--color-dark);
  border-radius: 1rem;
  margin: 0.5rem;
  width: 78%;
  box-sizing: border-box;
  color: var(--color-dark) !important;
  background: transparent;
}


input[type="text"]:focus {
  outline: none;
}

/* ::placeholder:focus{
  color: var(--color-light);
} */

/* input[type="text"].txtchanged{
  outline: none;
  color: var(--color-light);
  background-color: var(--color-dark);
} */

input[type="radio"] {
  outline: none;
  display: none;
}

input[type="date"]:focus {
  outline: none;
  color: var(--color-dark);
}

/* .txtchanged{
  outline: none;
  background-color: var(--color-dark);
  color: var(--color-light);
} */

input[type="radio"]:checked+label {
  outline: none;
  background-color: var(--color-dark);
  color: var(--color-light);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.control-label {
  height: fit-content;
  font-size: 3rem;
  position: relative;
  top: 0%;
  height: 8rem;
  display: flex;
  align-items: center;
}

.controls {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  top: 8vh;
  bottom: 0%;
  align-items: center;
  z-index: 1050;
  width: 50%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  color: var(--color-dark);

  transition: right 2s ease-in-out;
}

.navtop{
  position: absolute;
  top: 1rem;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

#navbottom{
    position: absolute;
    bottom: 1rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.arrow {
  cursor: pointer;
  box-sizing: border-box;
  /* width: 80%; */
  text-align: center;
  padding: .3rem;
  padding-inline: .5rem;
  border-radius: 1rem;
  /* border-radius: .5rem; */

}

.arrow:hover{
  background-color: var(--color-dark);
  color: var(--color-light);
}

.arrow-prev {
  position: absolute;
  display: none;
  text-align: left;
  pointer-events: all;
  transform: translate(0, -1.5rem);
}

.arrow-next {
  position: absolute;
  right: 1rem;
  text-align: right;
  pointer-events: all;
  transform: translate(0, -1.5rem);
}


label {
  position: relative;
  font-family: 'Graveyard';
  color: var(--color-dark);
  text-align: center;
  box-sizing: border-box;
  width: 78%;
  text-align: center;
  border: .3rem solid var(--color-dark);
  border-radius: 1rem;

  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  /* width: 75%; */
  background: transparent;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: block;
  margin: 0.5rem;
  /* -webkit-text-stroke: 0.18rem var(--color-dark); */
    /* color: var(--color-light); */
    color: var(--color-dark);
}

label:hover{
  background-color: var(--color-dark);
  color: var(--color-light);
}


.yearstxt {
  margin: 0.5vh;
}

#submit {
scroll-snap-align: start;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  text-align: center;
  padding: .5rem;
  width: 100%;
}

#border:hover{
  background-color: var(--color-dark);
  color: var(--color-light) !important;
}

#border{
  position: relative;
  font-family: 'Graveyard';
  text-align: center;
  border: .3rem solid var(--color-dark);
  border-radius: 1rem;
  margin: 0.5rem;
  width: 78%;
  box-sizing: border-box;
  color: var(--color-dark) !important;
  background: transparent;
}


/* .txtchanged{
  outline: none;
  color: var(--color-dark);
} */

canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

.custom-bg {
  background-image: url("/imgs/backgrounds/bg1.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sectionfinal {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: -2008;
}

input[type=color] {
  position: absolute;
  bottom: 0;
}

#resetCameraButton {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coemetersong{
  transform: translateY(.5rem);
}

.bottom-container{
  display: flex;
}
